
.test-weather--row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-icon {
  margin-right: 0.6rem;
  max-height: 3rem;
}
.test-weather--row.main-info {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.test-weather--row.description {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.test-weather--row.details {
  font-size: 1rem;
  margin-top: 1rem;
}
.test-weather--humidity {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.humidity-icon {
  width: 2rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.humidity-icon svg {
  max-width: 100%;
  height: auto;
}
.test-weather--wind {
  display: flex;
  align-items: center;
}
.wind-icon {
  width: 2.1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.wind-deg {
  width: 26px;
  height: 26px;
}
