{% set module_path = _self|split('/templates') %}

<div class="test-weather--wrapper">
  <div class="test-weather--contaner">
    <div class="test-weather--row main-info">
      <div class="weather-icon">
        <img src="{{ data.icon }}">
      </div>
      <div class="temp">{{ data.temp }}</div>
    </div>

    <div class="test-weather--row description">
      <div class="description">{{ data.desc|t }}</div>
    </div>

    <div class="test-weather--row details">
      <div class="test-weather--wind">
        <div class="wind-icon">{% include module_path[0] ~ '/img/wind.svg' %}</div>
        <div class="wind-text">{{ data.wind_speed }}</div>
        <div class="wind-deg" style="transform: rotate({{ data.wind_deg }}deg)">
          {% include module_path[0] ~ '/img/wind-deg.svg' %}
        </div>
      </div>
    </div>

    <div class="test-weather--row details">
      <div class="test-weather--humidity">
        <div class="humidity-icon">{% include module_path[0] ~ '/img/humidity.svg' %}</div>
        <div class="humidity-text">{{ data.humidity }}</div>
      </div>
    </div>
  </div>
</div>
